# Exercise 1: Use Numpy to perform the given operations

For the given list of countries with employment data:

1) Use the indexing and slicing to understand the Numpy operations.

2) Find the mean, median, std, and maximum employment.

3) Write a function to return the maximum employment along with the country name.

In [31]:
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [32]:
# Accessing Elements

print (countries[0])
print()
print (countries[1])
print()

# Slicing Elements

print (countries[0:3])
print()

# Finding mean, median, std, max

print ('Mean of the employment data is :', employment.mean())
print()
print ('Median of the employment data is :', np.median(employment))
print()
print ('Max of the employment data is :', employment.max())
print()
print ('Standard Deviation of the employment data is :', employment.std())
print()

Afghanistan

Albania

['Afghanistan' 'Albania' 'Algeria']

Mean of the employment data is : 58.68500003850001

Median of the employment data is : 58.40000153

Max of the employment data is : 75.69999695

Standard Deviation of the employment data is : 9.338269113687888

In [18]:
# Method 1
def max_employment (countries, employment):
    max_value = employment.max()
    i=np.where(employment==max_value)
    max_country = countries[i]
    
    return (max_country, max_value)

In [26]:
# Method 2

def max_employment (countries, employment):
    i= employment.argmax()
    
    return (countries[i], employment[i])

In [27]:
# Call the function

country, employment = max_employment(countries, employment)

print('The country {} has the highest employment of {}'.format(country, employment))

The country Angola has the highest employment of 75.69999695

# Exercise 2: Practice Numpy Operations

In [58]:
import numpy as np

# Change False to True for each block of code to see what it does

# Arithmetic operations between 2 NumPy arrays
if False:
    a = np.array([1, 2, 3, 4])
    b = np.array([1, 2, 1, 2])
    
    print (a + b)
    print (a - b)
    print (a * b)
    print (a / b)
    print (a ** b)
    
# Arithmetic operations between a NumPy array and a single number
if False:
    a = np.array([1, 2, 3, 4])
    b = 2
    
    print (a + b)
    print (a - b)
    print (a * b)
    print (a / b)
    print (a ** b)
    
# Logical operations with NumPy arrays
if False:
    a = np.array([True, True, False, False])
    b = np.array([True, False, True, False])
    
    print (a & b)
    print (a | b)
    print (~a)
    
    print (a & True)
    print (a & False)
    
    print (a | True)
    print (a | False)
    
# Comparison operations between 2 NumPy Arrays
if False:
    a = np.array([1, 2, 3, 4, 5])
    b = np.array([5, 4, 3, 2, 1])
    
    print (a > b)
    print (a >= b)
    print (a < b)
    print (a <= b)
    print (a == b)
    print (a != b)
    
# Comparison operations between a NumPy array and a single number
if False:
    a = np.array([1, 2, 3, 4])
    b = 2
    
    print (a > b)
    print (a >= b)
    print (a < b)
    print (a <= b)
    print (a == b)
    print (a != b)

# Exercise 3: School Completion Rate

1) Write a function to return a numpy array to return the overall school completion rate for each country

2) Assmt: Write a function to find the country with minimum overall completing rate.

In [53]:
# First 20 countries with school completion data
countries = np.array([
       'Algeria', 'Argentina', 'Armenia', 'Aruba', 'Austria','Azerbaijan',
       'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bolivia',
       'Botswana', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde'
])

# Female school completion rate in 2007 for those 20 countries
female_completion = np.array([
    97.35583,  104.62379,  103.02998,   95.14321,  103.69019,
    98.49185,  100.88828,   95.43974,   92.11484,   91.54804,
    95.98029,   98.22902,   96.12179,  119.28105,   97.84627,
    29.07386,   38.41644,   90.70509,   51.7478 ,   95.45072
])

# Male school completion rate in 2007 for those 20 countries
male_completion = np.array([
     95.47622,  100.66476,   99.7926 ,   91.48936,  103.22096,
     97.80458,  103.81398,   88.11736,   93.55611,   87.76347,
    102.45714,   98.73953,   92.22388,  115.3892 ,   98.70502,
     37.00692,   45.39401,   91.22084,   62.42028,   90.66958
])

In [54]:
# Define Function

def overall_completion_rate(female_completion, male_completion):
    overall = (female_completion + male_completion)/2
       
    return overall

In [2]:
# Call Function

over =  overall_completion_rate(female_completion, male_completion)

df= pd.DataFrame(index=countries, data=over)
df.columns=['Overall Completionn Rate']
df.head()

NameError: name 'overall_completion_rate' is not defined

# Exercise 4: Write a function ro return Standardize Data 

1) Write a function to return standardized values for the given employment percentages.

2) For a given country, return the standardized value.

In [57]:
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [69]:
# Write a function to return standardized values for the given employment percentages.

def standardized_values(values):
    stan = (values - values.mean())/values.std()
    return stan

In [72]:
# Call function

standard = standardized_values(employment)

print(standard)

[-0.31965231 -0.780123   -0.87650077  1.82207181 -0.03051941 -1.99019768
  0.30144772 -0.16973184  0.23719615  0.84758731  0.18365304  1.00821665
  0.87971351 -0.56595055 -1.07996476 -0.20185762  1.38301845 -0.03051941
  1.2545153  -1.87240259]

numpy.ndarray

In [76]:
# For a given country, return the standardized value.

country = 'Australia'

index = np.where(countries == country)

print(standard[index])

# Exercise 5 : Practice Numpy Index Arrays

If we have two numpy arrays of the same length a and b, and the second array 'b'contains booleans, then it could be use for indexing.The second array is called index array. 

1) Using index arrays

2) Using vectorized operations

3) Using vectorized operations on other arrays as index

In [ ]:
import numpy as np

# Change False to True for each block of code to see what it does

# Using index arrays
if False:
    a = np.array([1, 2, 3, 4])
    b = np.array([True, True, False, False])
    
    print (a[b])
    print (a[np.array([True, False, True, False])])
    
# Creating the index array using vectorized operations
if False:
    a = np.array([1, 2, 3, 2, 1])
    b = (a >= 2)
    
    print (a[b])
    print (a[a >= 2])
    
# Creating the index array using vectorized operations on another array
if False:
    a = np.array([1, 2, 3, 4, 5])
    b = np.array([1, 2, 3, 2, 1])
    
    print (b == 2)
    print (a[b == 2])

# Exercise 6: Calculate the mean time 

Write a function to calculate the mean time spent in the classroom for students who stayed enrolled at least 7 days.     The arguments are NumPy arrays. time_spent contains the amount of time spent in the classroom for each student, and days_to_cancel contains the number of days until each student cancel. The data is given in the same order in both arrays.

In [11]:
# Time spent in the classroom in the first week for 20 students
time_spent = np.array([
       12.89697233,    0.        ,   64.55043217,    0.        ,
       24.2315615 ,   39.991625  ,    0.        ,    0.        ,
      147.20683783,    0.        ,    0.        ,    0.        ,
       45.18261617,  157.60454283,  133.2434615 ,   52.85000767,
        0.        ,   54.9204785 ,   26.78142417,    0.
])

# Days to cancel for 20 students
days_to_cancel = np.array([
      4,   5,  37,   3,  12,   4,  35,  38,   5,  37,   3,   3,  68,
     38,  98,   2, 249,   2, 127,  35
])

In [14]:
def mean_time (time_spent, days_to_cancel):
    is_seven=days_to_cancel>=7
    mean_time=time_spent[is_seven].mean()
    return mean_time

In [15]:
mean = mean_time(time_spent, days_to_cancel)

print(mean)

41.05400348545454

# Exercise 7: Practice Basic Operations in Pandas Series

In [1]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

# Change False to True for each block of code to see what it does

# Accessing elements and slicing
if False:
    print (life_expectancy[0])
    print (gdp[3:6])
    
# Looping
if False:
    for country_life_expectancy in life_expectancy:
        print ('Examining life expectancy {}'.format(country_life_expectancy))
        
# Pandas functions
if False:
    print (life_expectancy.mean())
    print (life_expectancy.std())
    print (gdp.max())
    print (gdp.sum())

# Vectorized operations and index arrays
if False:
    a = pd.Series([1, 2, 3, 4])
    b = pd.Series([1, 2, 1, 2])
  
    print (a + b)
    print (a * 2)
    print (a >= 3)
    print (a[a >= 3])

# Exercise 8: Pandas Operations with Variable Index

1) When indexes are the same

2) When indexes are in different order

3) When indexes overlap, but do not have exactly the same elements

4) When indexes are different, and do not overlap.

In [17]:
import pandas as pd

# Addition when indexes are the same
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
    print (s1 + s2)

# Indexes have same elements in a different order
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
    print (s1 + s2)

# Indexes overlap, but do not have exactly the same elements
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
    print (s1 + s2)

# Indexes do not overlap
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
    print (s1 + s2)

# Exercise 9: Correlation

Write a function to calculate  the number of data points for which the directions of variable1 and variable2 relative to the mean are the same, and the number of data points for which they are different. Direction here means whether each value is above or below its mean. You can classify cases where the value is equal to the mean for one or both variables however you like.Each argument will be a Pandas series. 

For example, if the inputs were pd.Series([1, 2, 3, 4]) and pd.Series([4, 5, 6, 7]), then the output would be (4, 0). This is because 1 and 4 are both below their means, 2 and 5 are both below, 3 and 6 are both above, and 4 and 7 are both above.
    
On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
This is because 1 is below its mean but 7 is above its mean, and so on.

In [15]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

In [8]:
def variable_correlation(variable1, variable2):
    
    both_above = (variable1>variable1.mean()) & (variable2>variable2.mean())
    both_below = (variable1<variable1.mean()) & (variable2<variable2.mean())
    
    is_same_dir = both_above | both_below
    
    num_same_direction = is_same_dir.sum()        
    num_different_direction = len(variable1) - num_same_direction
    
    return (num_same_direction, num_different_direction)

In [10]:
#Call function

variable_correlation(life_expectancy, gdp)

(17, 3)

# Exercise 10: Country with Maximum Employment

Write a function using pandas series to obtain the country with maximum employment.

In [23]:
import pandas as pd

# First 20 countries with employment data
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
]

# Employment data in 2007 for those 20 countries
employment = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
]

In [24]:
employment = pd.Series(index=countries, data = employment)

employment

Afghanistan               55.700001
Albania                   51.400002
Algeria                   50.500000
Angola                    75.699997
Argentina                 58.400002
Armenia                   40.099998
Australia                 61.500000
Austria                   57.099998
Azerbaijan                60.900002
Bahamas                   66.599998
Bahrain                   60.400002
Bangladesh                68.099998
Barbados                  66.900002
Belarus                   53.400002
Belgium                   48.599998
Belize                    56.799999
Benin                     71.599998
Bhutan                    58.400002
Bolivia                   70.400002
Bosnia and Herzegovina    41.200001
dtype: float64

In [37]:
def max_employment (countries, employment):
    max_country = employment.idxmax()
    max_em= employment.loc[max_country]
    return max_country, max_em

In [38]:
# Call the function
max_employment (countries, employment)

('Angola', 75.69999695)

# Exercise 11: Removing NaNs
    
1) using dropna

2) Treat missing values before operation using .add method

In [18]:
a= pd.Series([1,2,3,4], index=['a','b','c','d'])
b = pd.Series([4,3,4,1], index =['c','d','e','f'])

print((a+b).dropna())
print()

print(a.add(b, fill_value=a.mean()))

c    7.0
d    7.0
dtype: float64

a    3.5
b    4.5
c    7.0
d    7.0
e    6.5
f    3.5
dtype: float64

In [27]:
(a+b).fillna(a.mean())

a    2.5
b    2.5
c    7.0
d    7.0
e    2.5
f    2.5
dtype: float64

# Exercise 12: Pandas Series Apply()

Applies the operation of a function on all elements of an array.

In [47]:
a= pd.Series([2,3,4,6,7,8,8,4])

def add_one(x):
    return (x**2)

In [49]:
a.apply(add_one)

0     4
1     9
2    16
3    36
4    49
5    64
6    64
7    16
dtype: int64

# Exercise 13: Reverse Names

Write a function to return a new series where each name in the input series has been transformed from the format "Firstname Lastname" to "Lastname, FirstName". 

Try to use the Pandas apply() function rather than a loop.

In [51]:
names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

In [52]:
# Define the function


def reverse_name(name):
    split_name = name.split(" ")
    first_name = split_name[0]
    last_name = split_name[1]
    reverse = last_name + "," + first_name
   
    return reverse

In [56]:
#Call the function

names.apply(reverse_name)

0             Agassi,Andre
1              Bonds,Barry
2     Columbus,Christopher
3             Defoe,Daniel
4           Estevez,Emilio
5          Flintstone,Fred
6              Garbo,Greta
7          Humbert,Humbert
8               Ilych,Ivan
9              Joyce,James
10         Knightley,Keira
11               Lane,Lois
12              Myers,Mike
13              Nolte,Nick
14           Osbourne,Ozzy
15           Picasso,Pablo
16       Quirrell,Quirinus
17             Ray,Rachael
18          Sarandon,Susan
19             Turner,Tina
20           Urbina,Ugueth
21            Vaughn,Vince
22          Wilson,Woodrow
23             Yamada,Yoji
24         Zidane,Zinedine
dtype: object