# Exercise 1: Import a flat file from the Web

Download the given flat file (.csv) from the web using urllib package, and display the content using Pandas library.

https://s3.amazonaws.com/assets.datacamp.com/production/course_1606/datasets/winequality-red.csv

# Exercise 2: Import Excel Data

Dowload the excel data from the given link.

http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls

In [5]:
import pandas as pd

url = 'http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls'
pd.read_excel(url)

                   country       1700
0              Afghanistan  34.565000
1    Akrotiri and Dhekelia  34.616667
2                  Albania  41.312000
3                  Algeria  36.720000
4           American Samoa -14.307000
..                     ...        ...
241            Yemen, Rep.  15.228000
242             Yugoslavia        NaN
243                 Zambia -12.942000
244               Zimbabwe -17.876000
245                  Åland  60.000000

[246 rows x 2 columns]

# Exercise 3: Import a Webpage using Urllib

Import a webpage using urlopen and Request from urllib.request package.

https://en.wikipedia.org/wiki/List_of_deepest_caves

# Exercise 4: Import a Webpage using Requests Package

Import a webpage using Requests package.

https://en.wikipedia.org/wiki/List_of_deepest_caves

# Exercise 5: Parsing HTML with BeautifulSoup


1) Import https://en.wikipedia.org/wiki/List_of_deepest_caves and parse using BeautifulSoup

2) Prettify the raw data using .prettify() method

3) Find the structure of webpage.

4) Extract title of the document from the data using .title() method

5) Extract text from the data using get_text() method

6) Using .find and .findall on the html tags

7) Use .select to extract the tags

# Exercise 6: Parsing HTML with BeautifulSoup - Getting all hyperlinks using tags

Scrape the website to extract all Hyperlinks

https://en.wikipedia.org/wiki/Isaac_Newton

# Exercise 7: Import Table from Webpage

Import the titles of all the Asian countries from the given webpage

'https://en.wikipedia.org/wiki/List_of_Asian_countries_by_area'

# Exercise 8: Extract the Complete Table


'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area'