In [1]:
import os
os.chdir(r'C:\Users\user\Desktop\DS - Course\File - 6')

In [6]:
import pandas as pd

data=pd.read_csv('sales_heirarchy.csv')

data

  state  month  eggs  salt  spam
0    CA      1    47  12.0    17
1    CA      2   110  50.0    31
2    NY      1   221  89.0    72
3    NY      2    77  87.0    20
4    TX      1   132   NaN    52
5    TX      2   205  60.0    55

In [12]:
data.loc[data['month']==1].median()

month      1.0
eggs     132.0
salt      50.5
spam      52.0
dtype: float64

In [17]:
data.groupby(['state'])['eggs'].mean()

state
CA     78.5
NY    149.0
TX    168.5
Name: eggs, dtype: float64