In [5]:
import pandas as pd

In [7]:
import os
os.chdir(r'C:\Users\user\Desktop\DS - Course\File - 4')

In [11]:
data = pd.read_csv('admissions_berkeley.csv')
data

    Unnamed: 0     Admit  Gender Dept  Freq
0            1  Admitted    Male    A   512
1            2  Rejected    Male    A   313
2            3  Admitted  Female    A    89
3            4  Rejected  Female    A    19
4            5  Admitted    Male    B   353
5            6  Rejected    Male    B   207
6            7  Admitted  Female    B    17
7            8  Rejected  Female    B     8
8            9  Admitted    Male    C   120
9           10  Rejected    Male    C   205
10          11  Admitted  Female    C   202
11          12  Rejected  Female    C   391
12          13  Admitted    Male    D   138
13          14  Rejected    Male    D   279
14          15  Admitted  Female    D   131
15          16  Rejected  Female    D   244
16          17  Admitted    Male    E    53
17          18  Rejected    Male    E   138
18          19  Admitted  Female    E    94
19          20  Rejected  Female    E   299
20          21  Admitted    Male    F    22
21          22  Rejected    Male    F   351
22          23  Admitted  Female    F    24
23          24  Rejected  Female    F   317